##**Klasifikasi dengan metode KNN**

- Nama : Windi Pangesti
- Asal : Universitas Andalas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data_train = pd.read_excel('Datatrain-1.xlsx')
data_train.head()

   Daya Tahan Asam  Kekuatan Klasifikasi
0                8         4        Baik
1                4         5       Buruk
2                4         6       Buruk
3                7         7        Baik
4                5         6       Buruk

In [ ]:
# peubah bebas
x = data_train.drop(['Klasifikasi'], axis=1)
x.head()

   Daya Tahan Asam  Kekuatan
0                8         4
1                4         5
2                4         6
3                7         7
4                5         6

In [ ]:
# menyimpan peubah tak bebas dalam variabel y
y = data_train['Klasifikasi']
y.head()

0     Baik
1    Buruk
2    Buruk
3     Baik
4    Buruk
Name: Klasifikasi, dtype: object

In [ ]:
x_test = [7, 4]
x_test

[7, 4]

In [ ]:
#mendefinisikan fungsi jarak antara dua titik
def minkowski_distance(a, b, p=2):
  dim = len(a)
  jarak = 0
  for d in range(dim):
      jarak += abs(a[d] - b[d])**p
  jarak = jarak**(1/p)
  return jarak

In [ ]:
a= x.loc[0]
print(a)
b = x.iloc[1]
print(b)

Daya Tahan Asam    8
Kekuatan           4
Name: 0, dtype: int64
Daya Tahan Asam    4
Kekuatan           5
Name: 1, dtype: int64

In [ ]:
minkowski_distance(a=x.iloc[0], b = x.iloc[1], p=2)

4.123105625617661

In [ ]:
test_pt = x_test
distances = [ ]
for i in x.index:
 distances.append(minkowski_distance(test_pt, x.iloc[i]))
df_dists = pd.DataFrame(data=distances, index=x.index, columns=['dist'])
df_dists.head()

       dist
0  1.000000
1  3.162278
2  3.605551
3  3.000000
4  2.828427

In [ ]:
df_nn = df_dists.sort_values(by=['dist'], axis=0)[:4]
df_nn

        dist
0   1.000000
5   1.414214
7   1.414214
12  2.000000

In [ ]:
from collections import Counter
# membuat objek penghitung (counter object) untuk melacak label (klasifikasi).
counter = Counter(y[df_nn.index])
print(counter)

# dapatkan label(Klasifikasi) paling banyak dari semua tetangga terdekat
counter.most_common()[0][0]

Counter({'Baik': 4})

'Baik'